[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

nz-button-group [nz-button] {
  margin-right: 0;
}

.functions-container {
  display: flex;
  justify-content: space-between;
  button {
    width: 160px;
  }
  input {
    width: 160px;
    height: 32px;
    margin: 10px;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
}

.save {
  margin-right: 8px;
}

.actions {
  display: flex;
  justify-content: space-around;
}
