<div class="logo-container">
  <img src="assets/KeepLogo.png" alt="Logo" />
</div>
<div class="functions-container">
  <button nz-button nzType="primary" routerLink="/add">
    Add a person
  </button>

  <app-reminder-info [listOfBirthdays]="displayPersonList"></app-reminder-info>

  <nz-input-group [nzSuffix]="suffixIconSearch" class="search-container">
    <input
      type="text"
      nz-input
      placeholder="Search..."
      [(ngModel)]="searchValue"
      (input)="onInputFilterList()"
    />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
  </ng-template>
</div>
<nz-table #basicTable [nzData]="displayPersonList">
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
        <td>{{ data.firstName }}</td>
        <td>{{ data.lastName }}</td>
        <td>{{ data.phoneNumber }}</td>
        <td>{{ data.city }}</td>
        <td>{{ data.birthDate | date : "dd MMMM yyyy" }}</td>
        <td class="actions">
          <a (click)="startEdit(data.id)"
            ><span nz-icon nzType="edit" nzTheme="outline"></span
          ></a>
          <a (click)="deletePerson(data.id)"
            ><span nz-icon nzType="delete" nzTheme="outline"></span
          ></a>
          <a (click)="showModal(data.id)"
            ><span nz-icon nzType="up" nzTheme="outline"></span>
          </a>
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.firstName"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.lastName"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.phoneNumber"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.city"
          />
        </td>
        <!-- <td>{{ data.birthDate | date : "dd MMMM yyyy" }}</td> -->
        <td>
          <nz-date-picker
            [(ngModel)]="editCache[data.id].data.birthDate"
          ></nz-date-picker>
        </td>
        <td>
          <a (click)="saveEdit(data.id)" class="save">Save</a>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Sure to cancel?"
            (nzOnConfirm)="cancelEdit(data.id)"
            >Cancel</a
          >
        </td>
      </ng-template>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="modalVisibility" (nzOnCancel)="handleClose()">
  <div *nzModalContent>
    <h1>{{ showedPerson.firstName }}'s wish list!</h1>

    <p *ngFor="let wish of showedPerson.wishList">
      {{ wish }}
    </p>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="handleOk()">Cool!</button>
  </div>
</nz-modal>
