<div>
  <button (click)="sortByFirstNameAscending()">Sort By First Name Ascending</button>
  <button (click)="sortByFirstNameDescending()">Sort By First Name Descending</button>
</div>
<div>
  <button (click)="sortByLastNameAscending()">Sort By Last Name Ascending</button>
  <button (click)="sortByLastNameDescending()">Sort By Last Name Descending</button>
</div>
<div>
  <button (click)="sortByPhoneNumberAscending()">Sort By Phone Number Ascending</button>
  <button (click)="sortByPhoneNumberDescending()">Sort By Phone Number Descending</button>
</div>
<div>
  <button (click)="sortByCityAscending()">Sort By City Ascending</button>
  <button (click)="sortByCityDescending()">Sort By City Descending</button>
</div>
<div>
  <button (click)="sortByBirthDayAscending()">Sort By Birth day Ascending</button>
</div>
<div class="flex-button">
  <button nz-button nzType="primary" style="margin: 10px" routerLink="/add">
    Add a person
  </button>
</div>
<nz-table #basicTable [nzData]="listOfDisplayPerson">
  <thead>
    <tr>
      <th nzCustomFilter>
        First name
        <nz-filter-trigger [(nzVisible)]="isFirstNameFilterVisible" [nzActive]="firstNameSearchValue.length > 0" [nzDropdownMenu]="menuFirstName">
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th nzCustomFilter>
        Last name
        <nz-filter-trigger [(nzVisible)]="isLastNameFilterVisible" [nzActive]="lastNameSearchValue.length > 0" [nzDropdownMenu]="menuLastName">
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th>Phone</th>
      <th nzCustomFilter>
        City
        <nz-filter-trigger [(nzVisible)]="isCityFilterVisible" [nzActive]="citySearchValue.length > 0" [nzDropdownMenu]="menuCity">
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th>Birth date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
        <td>{{ data.firstName }}</td>
        <td>{{ data.lastName }}</td>
        <td>{{ data.phoneNumber }}</td>
        <td>{{ data.city }}</td>
        <td>{{ data.birthDate | date : "dd MMMM yyyy" }}</td>
        <td class="actions">
          <a (click)="startEdit(data.id)"
            ><span nz-icon nzType="edit" nzTheme="outline"></span
          ></a>
          <a><span nz-icon nzType="delete" nzTheme="outline"></span></a>
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.firstName"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.lastName"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.phoneNumber"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.city"
          />
        </td>
        <!-- <td>{{ data.birthDate | date : "dd MMMM yyyy" }}</td> -->
        <td>
          <nz-date-picker
            [(ngModel)]="editCache[data.id].data.birthDate"
          ></nz-date-picker>
        </td>
        <td>
          <a (click)="saveEdit(data.id)" class="save">Save</a>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Sure to cancel?"
            (nzOnConfirm)="cancelEdit(data.id)"
            >Cancel</a
          >
        </td>
      </ng-template>
    </tr>
  </tbody>
  <nz-dropdown-menu #menuFirstName="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search by first name..." [(ngModel)]="firstNameSearchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchByFirstName()" class="search-button">Search</button>
        <button nz-button nzSize="small" (click)="resetAll()">Reset all</button>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #menuLastName="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search by last name..." [(ngModel)]="lastNameSearchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchByLastName()" class="search-button">Search</button>
        <button nz-button nzSize="small" (click)="resetAll()">Reset all</button>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #menuCity="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search by city..." [(ngModel)]="citySearchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchByCity()" class="search-button">Search</button>
        <button nz-button nzSize="small" (click)="resetAll()">Reset all</button>
      </div>
    </div>
  </nz-dropdown-menu>
</nz-table>
<app-reminder-info [listOfBirthDays]="listOfDisplayPerson"></app-reminder-info>
