nz-button-group [nz-button] {
  margin-right: 0;
}

.functions-container {
  display: flex;
  justify-content: space-between;
  button {
    width: 160px;
    margin: 10px;
  }
  .search-container {
    width: 160px;
    height: 32px;
    margin: 10px;
    input {
    }
  }
}

.logo-container {
  display: flex;
  justify-content: center;
}

.save {
  margin-right: 8px;
}

.actions {
  display: flex;
  justify-content: space-around;
}