<nz-table #basicTable [nzData]="personList">
    <thead>
      <tr>
        <th nzCustomFilter>
          First name
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <span nz-icon nzType="search"></span>
          </nz-filter-trigger>
        </th>
        <th>Last name</th>
        <th>Phone</th>
        <th>City</th>
        <th>Birth date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.firstName}}</td>
        <td>{{data.lastName}}</td>
        <td>{{data.phoneNumber}}</td>
        <td>{{data.city}}</td>
        <td>{{data.birthDate| date:'longDate'}}</td>
      </tr>
    </tbody>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>

  </nz-table>
